body {
  background: linear-gradient(
    90deg,
    rgb(151, 103, 173) 45%,
    rgb(116, 178, 211) 100%
  );
}

.ttitle {
  font-size: 35px;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 100px 150px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
button{
background-color:   rgb(151, 103, 173);
color: #ffffff;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
padding: 10px 15px;
border-radius: 10px;
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3) ;
}
button:hover {background-color:   rgb(116, 178, 211)}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}